.nb-img-grid {
  line-height: 0;
  column-count: 3;
  column-gap: 10px;
  text-align: center; }
  .nb-img-grid img {
    margin-bottom: 10px;
    max-width: 100%; }

.small-screen .nb-img-grid {
  column-count: 2; }

.nb-form {
  max-width: 680px;
  font-family: sans-serif; }
  .nb-form input[type="text"], .nb-form input[type="email"], .nb-form input[type="number"], .nb-form input[type="password"], .nb-form input[type="search"], .nb-form input[type="date"] {
    font-family: sans-serif;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    height: 34px;
    width: 100%;
    padding: 0 10px;
    margin: 5px 0;
    vertical-align: top;
    transition: border 0.1s linear; }
  .nb-form input:focus {
    border: 1px solid #0074D9; }
  .nb-form textarea {
    font-family: sans-serif;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 8px 10px;
    margin: 5px 0 20px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    transition: border 0.1s linear; }
    .nb-form textarea:focus {
      border: 1px solid #0074D9; }
  .nb-form select {
    font-family: sans-serif;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    height: 34px;
    padding: 6px 10px;
    width: 100%;
    margin: 5px 0 20px;
    background-image: url("../img/down.svg");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 10px 5px;
    vertical-align: top; }
  .nb-form label {
    font-size: 11px;
    text-transform: uppercase;
    font-family: sans-serif;
    display: block;
    width: 100%;
    margin: 0 0 10px; }
    .nb-form label.nb-close {
      display: none; }
  .nb-form .label-inline {
    display: inline-block;
    font-weight: normal;
    margin: 0 5px 20px 0; }
  .nb-form .medium-editor-element {
    font-family: sans-serif;
    font-size: 14px;
    min-height: 96px;
    border: 1px solid #e6e6e6;
    box-shadow: none;
    background-color: #fff;
    border-radius: 4px;
    padding: 6px 10px;
    width: 100%;
    margin: 5px 0 20px; }
    .nb-form .medium-editor-element:focus {
      border: 1px solid #0074D9; }
  .nb-form .editor.img-wrapper {
    margin: 5px 0 20px; }
    .nb-form .editor.img-wrapper img {
      max-width: 400px;
      max-height: 400px; }
  .nb-form .nb-gallery-field {
    margin: 5px 0px 20px 0px;
    margin: 5px 0px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 136px; }
    .nb-form .nb-gallery-field .editor.img-wrapper {
      margin: 0;
      background: #ccc; }
      .nb-form .nb-gallery-field .editor.img-wrapper img {
        height: 100%;
        width: auto; }
  .nb-form .nb-actions {
    width: 100%;
    padding: 5px;
    background-color: #efefef;
    border-radius: 5px; }
    .nb-form .nb-actions .nb-button,
    .nb-form .nb-actions input[type="submit"] {
      margin: 0 5px 0 0; }

.nb-button,
input[type="submit"] {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 34px;
  line-height: 34px;
  border-radius: 4px;
  color: #fff !important;
  background-color: #0074D9;
  padding: 0 20px;
  border: none;
  margin: 5px 5px 10px 0;
  display: inline-block;
  text-decoration: none;
  cursor: pointer; }
  .nb-button:disabled, .nb-button.nb-button-disabled,
  input[type="submit"]:disabled,
  input[type="submit"].nb-button-disabled {
    background-color: #eee;
    color: #ccc; }
  .nb-button.nb-button-transparent,
  input[type="submit"].nb-button-transparent {
    background-color: transparent; }
  .nb-button.green,
  input[type="submit"].green {
    background-color: #338e2d; }
  .nb-button.delete,
  input[type="submit"].delete {
    background-color: #9f1010; }
  .nb-button.icon-button,
  input[type="submit"].icon-button {
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 15px;
    background-position: center;
    background-size: 18px 18px;
    background-repeat: no-repeat; }
  .nb-button.edit,
  input[type="submit"].edit {
    background-image: url("../img/icon-edit.svg"); }
  .nb-button.delete,
  input[type="submit"].delete {
    background-image: url("../img/icon-delete.svg"); }

td .nb-button,
th .nb-button {
  margin: 0 5px 0 0; }

.login-container {
  width: 350px;
  margin: 40px auto 80px;
  border-radius: 6px;
  padding: 40px;
  border-right: 30px solid #0073e1;
  background-color: #fff;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  font-family: sans-serif; }
  .login-container h1 {
    padding: 0 0 30px; }
  .login-container p {
    font-size: 14px;
    margin: 15px 0 0; }
  .login-container a {
    color: #0074D9;
    text-decoration: none; }
  .login-container .nimbly-logo {
    position: absolute;
    z-index: 2000;
    bottom: 40px;
    right: -50px;
    height: 24px;
    width: auto;
    transform: rotate(90deg); }

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0; }

.admin-page body {
  background: #fff;
  font-family: sans-serif;
  margin-right: 30px;
  padding: 0; }

.logged-in.admin body {
  margin-right: 30px; }

.admin-wrapper {
  font-family: sans-serif;
  color: #333333;
  padding: 20px; }
  @media (min-width: 1000px) {
    .admin-wrapper {
      display: flex;
      padding: 0; } }
  .admin-wrapper h1 {
    font-family: sans-serif;
    font-size: 28px;
    font-weight: normal;
    padding: 30px 0;
    margin: 0; }

.admin-body {
  background-color: #f5f5f5; }
  .admin-body .admin-content {
    max-width: 680px;
    margin: 20px auto; }
  .admin-body p {
    padding: 0 0 30px;
    line-height: 1.6; }
  @media (min-width: 1000px) {
    .admin-body {
      flex: 4; } }

.admin-sidebar {
  min-height: 100vh;
  padding: 20px;
  flex: 1;
  background-color: #333333; }

/* lazy image loading fx */
img[data-img-uuid].nb-fade {
  opacity: 0;
  transition: opacity .1s ease-out; }
  img[data-img-uuid].nb-fade.nb-img-loaded {
    opacity: 1; }

#nb-single-file-preview, div.nb-single-file-preview {
  display: inline-block; }
  #nb-single-file-preview .uploader.img-wrapper, div.nb-single-file-preview .uploader.img-wrapper {
    min-width: 200px;
    min-height: 20px; }
  #nb-single-file-preview .progress-bar-text, div.nb-single-file-preview .progress-bar-text {
    top: 0;
    line-height: 24px;
    color: #111; }
  #nb-single-file-preview .progress-bar-bg, div.nb-single-file-preview .progress-bar-bg {
    top: 0; }
  #nb-single-file-preview img, div.nb-single-file-preview img {
    display: none; }

/* baguettebox gallery overwrites */
#baguetteBox-overlay .full-image {
  overflow: hidden; }
  #baguetteBox-overlay .full-image video {
    display: inline-block;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); }

.nb-icon {
  background-size: 22px 22px;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block; }
  .nb-icon.nb-disabled {
    opacity: .25; }

.nb-icon-close {
  background-image: url("../img/icon-close-dark.svg"); }

.nb-icon-edit {
  background-image: url("../img/icon-edit-white.svg"); }

.nb-icon-admin {
  background-image: url("../img/icon-gear-white.svg"); }

.nb-icon-up {
  background-image: url("../img/icon-up-white.svg"); }

.nb-icon-down {
  background-image: url("../img/icon-down-white.svg"); }

.nb-icon-facebook {
  background-image: url("../img/icon-facebook.svg");
  background-color: #3C5A99 !important;
  min-width: 200px; }

.nb-icon-twitter {
  background-image: url("../img/icon-twitter.svg");
  background-color: #00aced !important;
  min-width: 200px; }

.nb-icon-google {
  background-image: url("../img/icon-google.svg");
  background-color: #4285F4 !important;
  min-width: 200px; }

.nb-icon-save {
  background-image: url("../img/icon-save-white.svg"); }
  .nb-icon-save.nb-icon {
    background-size: 20px 20px; }

.nb-icon-media {
  background-image: url("../img/icon-picture-white.svg"); }
  .nb-icon-media.nb-icon {
    background-size: 20px 20px; }

.nb-icon-vimeo {
  background-image: url("../img/icon-vimeo-white.svg"); }
  .nb-icon-vimeo.nb-icon {
    background-size: 20px 20px; }

.nb-icon-btn {
  padding: 0 10px 0 32px !important;
  background-position: left 7px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: auto; }

[data-close],
[data-open],
[data-toggle],
[data-delete],
[data-push],
[data-post],
[data-put],
[data-link],
[data-onclick],
[data-get] {
  cursor: pointer; }

.nb-sortable {
  cursor: move; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.scroll-h {
  overflow-x: auto; }

.nb-open {
  display: inherit; }

.nb-close, div.nb-close, li.nb-close, ul.nb-close {
  display: none !important; }

.medium-screen .only-sm, .large-screen .only-sm {
  display: none; }

.small-screen .only-md, .large-screen .only-md {
  display: none; }

.small-screen .only-lg, .medium-screen .only-lg {
  display: none; }

.large-screen .only-lg {
  display: inherit; }

.medium-screen .only-md {
  display: inherit; }

.small-screen .only-sm {
  display: inherit; }

.small {
  font-size: 10px; }

.align-right {
  text-align: right; }

.align-center, .center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-justify {
  text-align: justify; }

.nb-40 {
  width: 40% !important; }

.nb-obfs {
  direction: rtl; }
  .nb-obfs span, .nb-obfs i, .nb-obfs b, .nb-obfs small, .nb-obfs strong {
    display: none; }

.no-mobile {
  display: none !important; }
  @media (min-width: 1000px) {
    .no-mobile {
      display: unset !important; } }

.no-desktop {
  display: unset; }
  @media (min-width: 1000px) {
    .no-desktop {
      display: none !important; } }

.nb-throbber,
.nb-throbber:after {
  border-radius: 50%;
  width: 32px;
  height: 32px; }

.nb-throbber {
  margin: 32px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 4px solid rgba(255, 255, 255, 0.2);
  border-right: 4px solid rgba(255, 255, 255, 0.2);
  border-bottom: 4px solid rgba(255, 255, 255, 0.2);
  border-left: 4px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: nbload8 1.1s infinite linear; }

@-webkit-keyframes nbload8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes nbload8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.nb-callout,
.nb-notification {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #fffdcf;
  padding: 20px;
  margin: 20px 20px 0 20px;
  box-shadow: 0px 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 330px;
  z-index: 10000;
  font-family: sans-serif; }
  @media (min-width: 1000px) {
    .nb-callout,
    .nb-notification {
      margin: 20px calc(50% - 165px) 0 0;
      left: auto; } }

#modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: sans-serif; }
  #modal.nb-close {
    display: none; }

#modal-content {
  max-width: 680px;
  min-width: 480px;
  max-height: 100%;
  background: white;
  padding: 50px 20px 20px;
  position: relative;
  border-radius: 4px;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
  @media (min-width: 1000px) {
    #modal-content {
      padding: 50px 40px 40px; } }
  #modal-content .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    z-index: 9999; }
  #modal-content .modal-caption {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase; }
  #modal-content .social-account {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; }
    #modal-content .social-account a {
      min-width: auto;
      flex: 1;
      margin: 0 0 5px; }
  #modal-content input[type="button"] {
    width: 100%; }
  #modal-content form,
  #modal-content .nb-form {
    padding: 0 0 10px; }
  #modal-content .signup-wrapper,
  #modal-content #signup_wrapper {
    max-width: 320px;
    margin: 0 auto; }
    #modal-content .signup-wrapper a,
    #modal-content .signup-wrapper .button,
    #modal-content #signup_wrapper a,
    #modal-content #signup_wrapper .button {
      width: 100%; }

.small-screen #modal-content {
  min-width: 100%; }

#nimblybar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30px;
  background: #0074D9;
  z-index: 1000; }
  #nimblybar .nb-icon {
    margin: 4px 0 0; }
  #nimblybar .nimbly-logo {
    position: fixed;
    z-index: 2000;
    bottom: 80px;
    right: -20px;
    height: 24px;
    width: auto;
    transform: rotate(90deg); }
    @media (min-width: 1000px) {
      #nimblybar .nimbly-logo {
        bottom: 40px; } }

#off-left-panel {
  position: absolute;
  display: block !important;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 10000;
  box-shadow: 10px 0px 15px 0px rgba(0, 0, 0, 0.2);
  transition: width 0.15s ease;
  overflow: hidden; }
  #off-left-panel.nb-close {
    width: 0;
    height: 0; }
  #off-left-panel.nb-open {
    width: 300px;
    height: 100vh; }
    #off-left-panel.nb-open .site-menu {
      opacity: 1; }
  #off-left-panel .menu-closer {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: block;
    background-image: url("../img/icon-close-dark.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px; }

.site-menu {
  padding: 20px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease; }
  .site-menu li {
    padding-bottom: 20px; }

header .site-menu {
  display: none; }
@media (min-width: 1000px) {
  header .site-menu {
    opacity: 1;
    display: unset; } }

.nb-menu {
  margin-bottom: 20px;
  border-bottom: 1px solid #595959;
  padding: 0 0 20px;
  font-family: 'helvetica', sans-serif; }
  .nb-menu li {
    list-style-type: none;
    margin: 0;
    font-family: 'helvetica', sans-serif; }
    .nb-menu li a {
      display: block;
      color: #fff;
      width: 100%;
      line-height: 30px;
      padding: 0 20px;
      text-decoration: none; }

.admin-menu .nb-menu {
  margin-bottom: 0;
  padding: 20px; }
  .admin-menu .nb-menu li a {
    color: #333333; }

[contenteditable=true], .editor.img-wrapper {
  background-color: #0074d93b; }

.uploader.img-wrapper, .editor.img-wrapper {
  display: inline-block;
  overflow: hidden;
  background: #eee;
  position: relative;
  width: 100%; }

.editor.img-wrapper {
  background: inherit;
  line-height: 0;
  min-width: 80px;
  min-height: 80px; }

.uploader.img-wrapper img {
  vertical-align: middle;
  cursor: pointer; }

.uploader a.clear-img-icon {
  top: 6px;
  z-index: 1000; }

.progress-bar-bg, .progress-bar, .progress-bar-text {
  position: absolute;
  top: 0;
  width: 100%;
  background: #ddd;
  opacity: .7;
  height: 20px;
  line-height: 20px;
  text-align: center;
  z-index: 498; }

.progress-bar-text {
  background: none;
  z-index: 500;
  color: white;
  font-size: 12px;
  text-transform: uppercase; }

.progress-bar-bg .progress-bar {
  background: #338e2d;
  top: 0;
  width: 0%;
  opacity: 1;
  z-index: 499; }

.nb-img-grid[data-select] img {
  border: 1px solid transparent; }

.nb-img-grid[data-select] img.selected {
  border: 1px solid #333333; }

a.edit-img-icon, a.clear-img-icon {
  position: absolute;
  right: 5px; }

a.edit-img-icon {
  top: 5px; }

a.clear-img-icon {
  top: 44px; }

a.editor.add-img-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  left: -40px;
  opacity: .8;
  text-decoration: none;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  display: none;
  background-color: #0074D9;
  border-radius: 15px; }

.editor.editor-active.img-insert a.editor.add-img-icon {
  display: block; }

.editor.img-insert {
  position: relative; }

/*
 * Style medium toolbar buttons
 */
.medium-toolbar-arrow-under:after {
  top: 40px;
  border-color: #333333 transparent transparent transparent; }

.medium-toolbar-arrow-over:before {
  top: -8px;
  border-color: transparent transparent #333333 transparent; }

.medium-editor-toolbar {
  background-color: #333333;
  border-radius: 4px;
  box-shadow: 0px 5px 15px #0000004f; }
  .medium-editor-toolbar li {
    padding: 0; }
    .medium-editor-toolbar li button {
      min-width: 40px;
      height: 40px;
      border: none;
      line-height: 10px !important;
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      background-color: transparent;
      color: #fff;
      transition: background-color .2s ease-in, color .2s ease-in; }
      .medium-editor-toolbar li button:hover {
        background-color: #b4b4b4;
        color: #fff; }
    .medium-editor-toolbar li .medium-editor-button-active {
      background-color: #b4b4b4;
      color: #fff; }
    .medium-editor-toolbar li .medium-editor-button-last {
      border-right: none; }

.medium-editor-toolbar-form .medium-editor-toolbar-input {
  height: 40px;
  background: #333333;
  color: #fff; }

.medium-editor-toolbar-form .medium-editor-toolbar-input::-webkit-input-placeholder {
  color: #fff;
  color: rgba(255, 255, 255, 0.8); }

.medium-editor-toolbar-form .medium-editor-toolbar-input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  color: rgba(255, 255, 255, 0.8); }

.medium-editor-toolbar-form .medium-editor-toolbar-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  color: rgba(255, 255, 255, 0.8); }

.medium-editor-toolbar-form .medium-editor-toolbar-input:-ms-input-placeholder {
  color: #fff;
  color: rgba(255, 255, 255, 0.8); }

.medium-editor-toolbar-form a {
  color: #fff; }

.medium-editor-toolbar-anchor-preview {
  background: #333333;
  color: #fff; }

.medium-editor-placeholder:after {
  color: #333333; }

.nb-table {
  border-spacing: 0;
  width: 100%;
  font-family: sans-serif;
  margin: 5px 0 30px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e6e6e6; }
  .nb-table thead {
    border-bottom: 1px solid #e6e6e6; }
  .nb-table tr:nth-child(odd) td {
    background-color: #f3f3f3; }
  .nb-table td,
  .nb-table th {
    padding: 12px 15px;
    text-align: left;
    font-size: 14px;
    font-family: sans-serif;
    vertical-align: middle; }
    .nb-table td:last-child,
    .nb-table th:last-child {
      white-space: nowrap; }
    .nb-table td a,
    .nb-table th a {
      color: #0074D9;
      text-decoration: none; }
    .nb-table td img,
    .nb-table th img {
      display: block; }
    .nb-table td.action-cell,
    .nb-table th.action-cell {
      text-align: right;
      font-size: 0; }
      .nb-table td.action-cell .icon-button,
      .nb-table th.action-cell .icon-button {
        background-color: transparent;
        background-size: 22px 22px; }
      .nb-table td.action-cell .nb-button.delete,
      .nb-table th.action-cell .nb-button.delete {
        background-image: url("../img/icon-delete-dark.svg"); }
      .nb-table td.action-cell .nb-button.edit,
      .nb-table th.action-cell .nb-button.edit {
        background-image: url("../img/icon-edit-dark.svg"); }
    .nb-table td.img-thumb img,
    .nb-table th.img-thumb img {
      width: auto;
      height: 80px;
      cursor: pointer; }
  .nb-table tr.ui-sortable-handle {
    cursor: move; }
  .nb-table tr.ui-sortable-helper {
    background-color: rgba(0, 0, 0, 0.1); }

.gallery-image-row .editor.img-wrapper {
  margin: 0; }

/*# sourceMappingURL=style.css.map */
